stages:
  - build
  - deploy

build_site:
  stage: build
  image: node:18-alpine
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - build/
    expire_in: 1 week
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

pages:
  stage: deploy
  image: alpine:3.19
  needs: ["build_site"]
  script:
    - rm -rf public
    - mkdir -p public
    - cp -r build/* public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
